{% extends 'base.html' %}

{% block titulo  %} Produtos {% endblock %}


{% block titulo_page  %} Listagem de Produtos {% endblock %}

{% block conteudo  %}  

<button onclick="location.href='{% url 'form_produto' %}'"  class="btn btn-primary">Novo Produto </button>

<table style="margin-top:15px" class="table table-bordered table-hover">
    <thead class="thead-dark">

        <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Estoque</th>
            <th scope="col">Valor (R$)</th>
            <th scope="col">Ações</th>  
        </tr>
    </thead>
    
    <tbody>
        {% for item in lista %}
        <tr>
            <td>{{item.id}}</td>
            <td> {{item.nome}} </td>
            <td> 10 </td>
            <td> {{item.preco}} </td>
            <td> 
                <button onclick="location.href='{% url 'detalhes_produto' item.id %}'" class="btn btn-info">Detalhes </button>
                <button onclick="location.href='{% url 'editar_produto' item.id %}'"  class="btn btn-warning">Alterar </button>
                <button onclick="location.href='{% url 'excluir_produto' item.id %}'"  class="btn btn-danger">Excluir </button>
            </td> 
        </tr>
        {% endfor %}
     </tbody>

</table>

   
      

{% endblock %}
